@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,600&family=Lobster&display=swap');

*{
    font-family: "Bitter", "Lobster"; 
}

body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.form-container {
    max-width: 500px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: #152F42;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-container input {
    padding: 10px;
    height: 12px;
    width: 480px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #152F42;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-register {
    font-size: 13px;
    text-align: center;
}

.login-register a {
    color: #152F42;
}
