@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    font-family: "Poppins", sans-serif;
}

.form-container {
    max-width: 500px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: #152F42;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif; 
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.form-container input {
    padding: 10px;
    height: 12px;
    width: 480px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #152F42;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-register {
    font-size: 13px;
    text-align: center;
}

.login-register a {
    color: #152F42;
}

.login-register a:hover {
    color: #306a94;
}

.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 450px;
    padding-right: 40px;
}

.password-container i {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
}
